.customers {
  padding-top: 94px;
  // padding-bottom: 94px;

  @media screen and (max-width: 479px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 480px) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
}

.customers__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  padding-bottom: 50px;
  margin: 0px auto;
}

.customers__list {
  display: flex;

  list-style: none;

  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

  @media screen and (max-width: 479px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 480px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
  }
}

.customers-card {
  @media screen and (max-width: 479px) {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 480px) {
    margin-right: 30px;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 1199px) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.customers-card:nth-child(1),
.customers-card:nth-child(3),
.customers-card:nth-child(5) {
  @media screen and (max-width: 479px) {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.customers-card:nth-child(2),
.customers-card:nth-child(4),
.customers-card:nth-child(6) {
  @media screen and (max-width: 479px) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 480px) {
    margin-right: 0;
  }
}

.customers-card:nth-child(2),
.customers-card:nth-child(4) {
  @media screen and (max-width: 479px) {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
}

.customers-card:nth-child(3),
.customers-card:nth-child(6) {
  @media screen and (max-width: 479px) {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0;
  }
}

// .customers-card:last-child {
//   margin-right: 0px;
// }

.customers-card__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 32px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $selection-color;
  }

  @media screen and (max-width: 479px) {
    padding: 16px 51px;
  }

  @media screen and (min-width: 480px) {
    padding: 16px 51px;
  }

  @media screen and (min-width: 768px) {
    padding: 16px 59px;
  }

  @media screen and (min-width: 1200px) {
    padding: 16px 31px;
  }
}

.customers-card__icon {
  fill: #afb1b8;

  width: 106px;
  height: 60px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .customers-card__link:hover &,
  .customers-card__link:focus & {
    fill: $selection-color;
  }
}
