.principles {
  padding: 94px 0px 94px 0px;
}

.principles__header {
  display: none;
}

.principles-list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0px;

  @media screen and (max-width: 479px) {
    flex-direction: column;
  }

  @media screen and (min-width: 480px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.principles-list__item {
  @media screen and (min-width: 768px) {
    width: 354px;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-right: 30px;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
  }
}

.principles-list__item:nth-child(2) {
  @media screen and (min-width: 768px) {
    width: 354px;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    margin-right: 0px;
  }

  @media screen and (min-width: 1200px) {
    width: 354px;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    margin-right: 30px;
  }
}

.principles-list__item:nth-child(4) {
  @media screen and (min-width: 768px) {
    width: 354px;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    margin-right: 0px;
  }
}

.principle {
  background-color: $darker-bgnd-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: 480px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.principle__icon {
  width: 70px;
  height: 70px;
}

.principle__title {
  font-weight: bold;
  font-size: inherit;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-text-color;

  @media screen and (max-width: 479px) {
    text-align: center;
  }

  @media screen and (min-width: 480px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.principle__description {
  font-size: inherit;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $smaller-text-color;

  @media screen and (max-width: 479px) {
    text-align: left;
  }

  @media screen and (min-width: 480px) {
    text-align: left;
  }

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
